<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.upcome.Classes.mapper.ClassesMapper">

    <!--0. 查询集合映射-->
    <resultMap id="ClassesAll" type="com.upcome.Classes.entity.Classes">
        <id property="cid" column="c_id" javaType="String" jdbcType="VARCHAR" />
        <result property="cname" column="c_name" javaType="String" jdbcType="VARCHAR"/>

        <collection property="StuList" javaType="ArrayList" ofType="com.upcome.student.entity.Student">
            <id property="sid" column="s_id" javaType="String" jdbcType="VARCHAR" />
            <result property="sname" column="s_name" javaType="String" jdbcType="VARCHAR" />
        </collection>
    </resultMap>

    <!--1. 查询班级-->
    <select id="seleClasses" resultMap="ClassesAll" parameterType="com.upcome.Classes.entity.Classes">
        select * from classes c left join student s on c.c_id=s.c_id
    </select>
    
</mapper>